/* Import some fonts */

/* FiraSansCompressed files */
@font-face {
  font-family: FiraSansCompressed;
  src: url(../assets/fonts/Compressed/Roman/FiraSansCompressed-Heavy.woff2);
  font-weight: 900;
}

@font-face {
  font-family: FiraSansCompressed;
  src: url(../assets/fonts/Compressed/Roman/FiraSansCompressed-ExtraBold.woff2);
  font-weight: 800;
}

@font-face {
  font-family: FiraSansCompressed;
  src: url(../assets/fonts/Compressed/Roman/FiraSansCompressed-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: FiraSansCompressed;
  src: url(../assets/fonts/Compressed/Roman/FiraSansCompressed-Medium.woff2);
  font-weight: 500;
}

@font-face {
  font-family: FiraSansCompressed;
  src: url(../assets/fonts/Compressed/Roman/FiraSansCompressed-regular.woff2);
  font-weight: 400;
}

/* Zilla Slab files */
@font-face {
  font-family: "Zilla Slab";
  src:
    url('../assets/fonts/zilla-slab/woff2/ZillaSlab-Bold.woff2') format('woff2'),
    url('../assets/fonts/zilla-slab/woff/ZillaSlab-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Zilla Slab";
  src:
    url('assets/fonts/zilla-slab/woff2/ZillaSlab-BoldItalic.woff2') format('woff2'),
    url('assets/fonts/zilla-slab/woff/ZillaSlab-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Zilla Slab";
  src:
    url('../assets/fonts/zilla-slab/woff2/ZillaSlab-Italic.woff2') format('woff2'),
    url('../assets/fonts/zilla-slab/woff/ZillaSlab-Italic.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Zilla Slab";
  src:
    url('../assets/fonts/zilla-slab/woff2/ZillaSlab-Light.woff2') format('woff2'),
    url('../assets/fonts/zilla-slab/woff/ZillaSlab-Light.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Zilla Slab";
  src:
    url('../assets/fonts/zilla-slab/woff2/ZillaSlab-LightItalic.woff2') format('woff2'),
    url('../assets/fonts/zilla-slab/woff/ZillaSlab-LightItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Zilla Slab";
  src:
    url('../assets/fonts/zilla-slab/woff2/ZillaSlab-Medium.woff2') format('woff2'),
    url('../assets/fonts/zilla-slab/woff/ZillaSlab-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Zilla Slab";
  src:
    url('../assets/fonts/zilla-slab/woff2/ZillaSlab-MediumItalic.woff2') format('woff2'),
    url('../assets/fonts/zilla-slab/woff/ZillaSlab-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Zilla Slab";
  src:
    url('../assets/fonts/zilla-slab/woff2/ZillaSlab-Regular.woff2') format('woff2'),
    url('../assets/fonts/zilla-slab/woff/ZillaSlab-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Zilla Slab";
  src:
    url('../assets/fonts/zilla-slab/woff2/ZillaSlab-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/zilla-slab/woff/ZillaSlab-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Zilla Slab";
  src:
    url('../assets/fonts/zilla-slab/woff2/ZillaSlab-SemiBoldItalic.woff2') format('woff2'),
    url('../assets/fonts/zilla-slab/woff/ZillaSlab-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Zilla Slab";
  src:
    url('../assets/fonts/zilla-slab/woff2/ZillaSlabHighlight-Bold.woff2') format('woff2'),
    url('../assets/fonts/zilla-slab/woff/ZillaSlabHighlight-Bold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Zilla Slab";
  src:
    url('../assets/fonts/zilla-slab/woff2/ZillaSlabHighlight-Regular.woff2') format('woff2'),
    url('../assets/fonts/zilla-slab/woff/ZillaSlabHighlight-Regular.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

/* End @font-face stuff */

html,
body {
  padding: 0;
  margin: 0;
  background-color: #1d1d1e;
}

body {
  font: normal normal 400 12px/1.2 "Zilla Slab", sans-serif;
}

a {
  color: hsla(210, 5%, 5%, 1);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.5s;
}

a:hover {
  color: hsla(10, 85%, 50%, 1);
}

/* Start of CSS Grid Layout */

/* This gives the container element 12 columns, colunmn and row gutters and defines the grid row template */
.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 20px;
  grid-template-rows:
    100vh /* => splash height */
    100px /* => nav height */
    100vh /* => wins graph height */
    100vh /* => Margins of Time graph height*/
    100vh /* => Playoffs 1 height*/
    100vh /* => Playoffs 2 height*/
    100vh /* => Heartbreak height*/
    100vh /* => Offseason height*/
    100vh /* => Kawhi & DeMar Trade height*/
    100vh /* => 2018–19 Starting Line-up height*/
    100vh /* => Top Ten Games to Watch Graph height*/
    100vh /* => Go Raps Go! height*/
    100px /* => footer height*/;
}

/* This tells the browser to display all elements to full width (mobile first)  */
.wrapper > * {
  grid-column: col-start / span 12;
}

/* End of CSS Grid Layout */

/* Mobile first styles begin here */
.main-head > * {
  background: hsla(0, 0%, 100%, 0);
  position: absolute;
}

.main-head {
  grid-column: 1 / span 12;
  grid-row: 1 / span 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-head h1 {
  color: #CD1141;
  text-align: center;
  font-size: 15vmin;
  line-height: 1;
  font-weight: 900;
  font-variant: normal;
  text-shadow: 4px 4px hsla(210, 5%, 5%, 0.25);
  text-transform: uppercase;
}

.main-nav {
  background-color: hsla(180, 10%, 90%, 0.5);
}

.wins-graph {
  grid-column: col-start / span 12;
  grid-row: 3 / span 1;
}

.top-performers {
  grid-column: col-start / span 12;
  grid-row: 4 / span 1;
}

.team-ratings {
  grid-column: col-start / span 12;
  grid-row: 5 / span 1;
}

.playoff-brackets {
  grid-column: col-start / span 12;
  grid-row: 6 / span 1;
}

/* GSW Champs section starts here */
.nba-champs {
  grid-column: col-start / span 12;
  grid-row: 7 / span 1;
  border-top: 1px solid grey;
  padding: 10px;
}

.champs-header {
  display: flex;
  justify-content: space-between;
}

.champs-header img {
  height: 5rem;
}

.gsw-lineup {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gsw-card {
  width: 45%;
  border: 1px solid grey;
  margin-bottom: 20px;
}

.gsw-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid grey;
  font-size: 150%;
}

.gsw-card-header p {
  border-left: 1px solid grey;
  padding-left: 10px;
  height: 100%;
}

.gsw-card img {
  width: 100%;
  height: auto;
  margin-top: 30px;
  border-bottom: 1px solid grey;
}

.playoff-stats p {
  padding: 4px 8px;
  margin: 0;
}

.stats-number {
  float: right;
}

.playoff-stats .stats-big {
  font-size: 150%;
}

/* Footer information starts here  */
.main-footer {
  grid-column: col-start / span 12;
  grid-row: 8 / span 1;
  background-color: hsla(225, 7%, 24%, 1);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-footer > p {
  width: 25%;
  text-align: center;
}

.playoff-stats > p:nth-child(even) {
  background-color: hsla(210, 5%, 95%, 1);
}

/* Mobile first styles end here */

/* Specific media styles (small to large screens) begin here */
@media (min-width: 576px) {
  .side {
    grid-column: col-start / span 3;
    grid-row: 3;
  }

  .ad {
    grid-column: col-start / span 3;
    grid-row: 4;
  }

  .content {
    grid-column: col-start 4 / span 9;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
  }

  /* .main-footer {
    grid-column: col-start / span 12;
  } */
}

@media (min-width: 768px) {
  .main-nav {
    grid-column: col-start / span 2;
    grid-row: 2 / 4;
  }

  .content {
    grid-column: col-start 3 / span 8;
  }

  .side {
    grid-column: col-start 11 / span 2;
    grid-row: 2;
  }

  .ad {
    grid-column: col-start 11 / span 2;
    grid-row: 3;
  }

  /* .main-footer {
    grid-column: col-start / span 12;
  } */

  nav ul {
    flex-direction: column;
  }
}

@media (min-width: 992px) {
  .main-nav {
    grid-column: col-start / span 2;
    grid-row: 2 / 4;
  }

  .content {
    grid-column: col-start 3 / span 8;
  }

  .side {
    grid-column: col-start 11 / span 2;
    grid-row: 2;
  }

  .ad {
    grid-column: col-start 11 / span 2;
    grid-row: 3;
  }

  /* .main-footer {
    grid-column: col-start / span 12;
  } */

  nav ul {
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  /* body {
    width: 100vw;
    display: flex;
    justify-content: center;
  } */

  /* .wrapper {
    width: 1200px;
  } */

  .main-nav {
    grid-column: col-start / span 2;
    grid-row: 2 / 4;
  }

  .content {
    grid-column: col-start 3 / span 8;
  }

  .side {
    grid-column: col-start 11 / span 2;
    grid-row: 2;
  }

  .ad {
    grid-column: col-start 11 / span 2;
    grid-row: 3;
  }

  /* .main-footer {
    grid-column: col-start / span 12;
  } */

  nav ul {
    flex-direction: column;
  }
}

/* Specific media styles end here */
